 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/bvvbbvbb-min.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 333px;
}

.u-section-1 .u-list-1 {
  width: 388px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 157px;
  grid-auto-columns: 100%;
  --gap: 100px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(to bottom, #ffffff, #bbae9d), linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-1 .u-icon-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 110px;
  height: 110px;
  color: rgb(255, 255, 255) !important;
  margin: 6px auto 0;
  padding: 7px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.0625rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-list-1 {
    width: 381px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 174px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-list-1 {
    width: 332px;
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 164px;
    grid-gap: 37px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-list-1 {
    width: 105px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 124px;
    grid-gap: 97px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 3px 12px;
  }

  .u-section-1 .u-icon-1 {
    width: 69px;
    height: 69px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.5625rem;
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5625rem;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #f8efdf, #ffffff);
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 50px auto 0;
}

.u-section-2 .u-image-1 {
  width: 356px;
  height: 475px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 325px auto 0 128px;
}

.u-section-2 .u-group-1 {
  width: 416px;
  min-height: 266px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -750px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.7;
  font-size: 1.25rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 508px;
  margin: -232px 0 13px auto;
}

.u-section-2 .u-image-2 {
  min-height: 349px;
  background-image: url("images/ggg-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 348px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-1 {
    width: 311px;
    height: 389px;
    margin-top: 389px;
    margin-left: 115px;
  }

  .u-section-2 .u-group-1 {
    width: 370px;
    min-height: 366px;
    margin-top: -728px;
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 408px;
    margin-top: -366px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-2 .u-image-1 {
    width: 284px;
    height: 451px;
    margin-top: 205px;
    margin-left: 23px;
  }

  .u-section-2 .u-group-1 {
    min-height: 276px;
    margin-top: -611px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 383px;
    margin-top: -99px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-image-1 {
    width: 224px;
    height: 367px;
    margin-top: 199px;
    margin-left: 13px;
  }

  .u-section-2 .u-group-1 {
    min-height: 124px;
    margin-top: -526px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 15px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 273px;
    margin-top: 105px;
    margin-right: 17px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-2 {
    min-height: 373px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 32px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 323px;
    margin-top: 244px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 193px;
    margin-top: -535px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 1px;
    margin-right: -6px;
    margin-left: 26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 368px;
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, #ffffff, #d7ae61), linear-gradient(to bottom, rgba(83, 98, 127, 1), rgba(83, 98, 127, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 400;
  width: 301px;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  text-transform: none;
  font-weight: 400;
  margin: 48px 70px 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 48px;
  margin-bottom: 9px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 784px;
  grid-auto-columns: calc(25% - 15px);
  --gap: 20px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Screenshot2024-12-16at15.28.28.png');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/DSC06588.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/DSC06949.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Dizajnbeznaslova-41.png');
  background-position: 50% 50%, 100% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/WhatsAppImage2025-08-05at18.52.533.jpeg');
  background-position: 50% 50%, 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Dizajnbeznaslova-51.png');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-group-6 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/WhatsAppImage2025-08-05at18.52.536.jpeg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
}

.u-section-3 .u-container-layout-13 {
  padding: 0;
}

.u-section-3 .u-group-7 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

.u-section-3 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Screenshot2024-12-16at15.32.12.png');
  background-position: 50% 50%, 64.3% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
}

.u-section-3 .u-container-layout-15 {
  padding: 0;
}

.u-section-3 .u-group-8 {
  min-height: 112px;
  height: auto;
  width: 270px;
  margin: 270px 0 -30px;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 0 -14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-2 {
    width: 746px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 33px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 724px;
    grid-gap: 20px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%, 53.03% 50%;
    background-size: cover, cover;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-image-4 {
    background-position: 50% 50%, 51.97% 50%;
  }

  .u-section-3 .u-group-4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-image-6 {
    background-position: 50% 50%, 48.36% 50%;
  }

  .u-section-3 .u-group-6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-image-7 {
    background-position: 50% 50%, 46.54% 50%;
    background-size: cover, cover;
  }

  .u-section-3 .u-group-7 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-3 .u-group-8 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2207px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1904px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-3 .u-group-1 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-5 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-6 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-12 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-7 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-14 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-group-8 {
    margin-top: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-16 {
    padding: 20px 22px 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 2px;
    margin-right: 8px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
    font-size: 1rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 595px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    margin-top: 0;
    min-height: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-5 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-6 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-12 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-7 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-14 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-8 {
    margin-top: 0;
    min-height: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-16 {
    padding: 10px 8px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(215, 174, 97, 1), rgba(255, 255, 255, 0));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 980px;
}

.u-section-4 .u-shape-1 {
  width: 245px;
  height: 245px;
  background-image: none;
  margin: 633px auto 0 -15px;
}

.u-section-4 .u-shape-2 {
  width: 306px;
  height: 306px;
  margin: -818px auto 0 580px;
}

.u-section-4 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/DSC06588.jpg?rand=ed35");
  background-position: 76.2% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-size: cover;
  margin: -279px auto 0 -15px;
}

.u-section-4 .u-group-1 {
  width: 584px;
  background-image: linear-gradient(to bottom, rgba(215, 174, 97, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  height: auto;
  min-height: 607px;
  --top-left-radius: 150px;
  margin: -691px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 30px 58px;
}

.u-section-4 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: none;
  margin: 2px 15px 0 0;
}

.u-section-4 .u-form-1 {
  height: 422px;
  margin: 20px 25px 0 0;
}

.u-section-4 .u-label-1 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-4 .u-input-1 {
  font-size: 1rem;
}

.u-section-4 .u-label-2 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-4 .u-input-2 {
  font-size: 1rem;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  --radius: 24px;
  padding: 13px 42px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-shape-1 {
    width: 194px;
    height: 194px;
    margin-top: 479px;
    margin-left: 55px;
  }

  .u-section-4 .u-shape-2 {
    width: 209px;
    height: 209px;
    margin-top: -618px;
    margin-right: 211px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 592px;
    height: 592px;
    margin-top: -183px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 500px;
    min-height: 554px;
    margin-top: -553px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 32px;
    padding-bottom: 28px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    text-transform: uppercase;
    margin-top: 0;
  }

  .u-section-4 .u-form-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-label-1 {
    font-weight: 400;
  }

  .u-section-4 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 498px;
    margin-left: 198px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -589px;
    margin-right: 224px;
  }

  .u-section-4 .u-image-1 {
    width: 604px;
    height: 604px;
    margin-top: -156px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -579px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-form-1 {
    height: 381px;
    width: 440px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-4 .u-shape-1 {
    width: 157px;
    height: 157px;
    margin-top: -270px;
    margin-left: 42px;
  }

  .u-section-4 .u-shape-2 {
    width: 177px;
    height: 177px;
    margin-top: 404px;
    margin-right: 301px;
  }

  .u-section-4 .u-image-1 {
    width: 462px;
    height: 462px;
    margin-top: -615px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 512px;
    margin-top: -461px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-4 .u-shape-1 {
    width: 108px;
    height: 108px;
    margin-top: -832px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 120px;
    height: 120px;
    margin-top: -890px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 302px;
    height: 302px;
    margin-top: -279px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    --radius: 50px;
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    margin-top: 60px;
    min-height: 474px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 26px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.1875rem;
    width: auto;
    margin-top: 16px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-form-1 {
    height: 328px;
    width: 318px;
    margin-top: 20px;
  }

  .u-section-4 .u-label-1 {
    font-size: 0.8125rem;
    font-weight: 700;
  }

  .u-section-4 .u-input-1 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-label-2 {
    font-size: 0.8125rem;
  }

  .u-section-4 .u-input-2 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-btn-1 {
    padding: 5px 44px 6px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(215, 174, 97, 1));
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 797px;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 400;
  margin: 50px auto 0;
}

.u-section-5 .u-accordion-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-5 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-5 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-accordion-link-5 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-5 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

     .u-section-5 .u-accordion-pane-1,
    .u-section-5 .u-accordion-pane-2,
    .u-section-5 .u-accordion-pane-3,
    .u-section-5 .u-accordion-pane-4,
    .u-section-5 .u-accordion-pane-5 {
        position: relative; /* panel ne prekriva druge elemente */
        z-index: 0;
    }

   .u-section-5 .u-container-layout-1,
  .u-section-5 .u-container-layout-2,
  .u-section-5 .u-container-layout-3,
  .u-section-5 .u-container-layout-4,
  .u-section-5 .u-container-layout-5 {
    position: relative;
    z-index: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 36px;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(215, 174, 97, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 811px;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 27px auto 0 437px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 9px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 679px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-gallery-1 {
  height: 313px;
  margin-top: 112px;
  margin-bottom: 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 676px;
  --top-right-radius: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-form-1 {
  height: 637px;
  width: 643px;
  margin: 2px 0 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: 0;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
}

.u-section-6 .u-input-1 {
  height: 48px;
  --radius: 25px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
}

.u-section-6 .u-input-2 {
  height: 48px;
  --radius: 25px;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
}

.u-section-6 .u-input-3 {
  height: 48px;
  --radius: 25px;
}

.u-section-6 .u-label-4 {
  font-weight: 700;
}

.u-section-6 .u-input-4 {
  height: 48px;
  --radius: 25px;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-label-5 {
  height: 48px;
  font-weight: 400;
}

.u-section-6 .u-input-5 {
  height: 48px;
  --radius: 25px;
}

.u-section-6 .u-label-6 {
  font-weight: 700;
}

.u-section-6 .u-input-6 {
  --radius: 25px;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  --radius: 10px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-right: 193px;
    margin-left: 360px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 28px;
  }

  .u-section-6 .u-layout-cell-1 {
    --radius: 10px;
    min-height: 694px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 132px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-form-1 {
    height: 657px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 46px;
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -17px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 781px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    --radius: 150px;
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 41px;
    margin-left: 185px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 4px;
    margin-bottom: 41px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 31px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: -31px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-form-1 {
    height: 740px;
    margin-top: 41px;
    margin-bottom: -41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 426px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -947px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 296px;
    order: 1;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: -400px;
  }

  .u-section-6 .u-layout-cell-2 {
    --radius: 50px;
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 947px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-6 .u-form-1 {
    height: 951px;
    width: 318px;
    margin: 947px auto -950px;
  }

  .u-section-6 .u-label-5 {
    font-weight: 700;
  }

  .u-section-6 .u-btn-1 {
    padding: 10px 41px;
  }
}text-align:center;
